<section class="login-bg  flex ">
  <div class="login-card flex flex-column flex-1 mx-auto border-round my-8  ">
    <form class="flex flex-column flex-1 justify-content-center p-6 my-6" style="max-width: 833px;margin:0 60px 0 60px;" [formGroup]="loginForm">

      <!--      email    -->
      <div class=" flex flex-column ">
        <label class="my-2">email</label>
        <input type="text" class="border-round p-4 my-2" placeholder="digite seu email" formControlName="email"
               [class.valid]="loginForm.controls['email'].valid"
               [class.invalid]="loginForm.controls['email'].invalid &&
           (loginForm.controls['email'].touched || loginForm.controls['email'].dirty)">
      </div>
      <!--      senha    -->
      <div class="flex flex-column my-3">
        <label class="">senha</label>
        <input type="password" class="border-round p-4 my-2 " placeholder="digite sua senha" formControlName="senha"
               [class.valid]="loginForm.controls['senha'].valid"
               [class.invalid]="loginForm.controls['senha'].invalid &&
           (loginForm.controls['senha'].touched || loginForm.controls['senha'].dirty)">

        <span *ngIf="senhaErrada">
          <small class="text-red-400" *ngIf="senhaErrada" >
            Email ou senha estão incorretos.
          </small>
      </span>
      </div>

      <!--    btns   -->
      <div class=" btn-container flex flex-wrap  justify-content-between  "  >
        <button class="btn-register my-3 " (click)="registrar()">registrar</button>
        <button class="btn-login" (click)="login()">login</button>
      </div>

    </form>


  </div>

<!--  <div class="bg-white mx-auto my-auto">-->
<!--    {{loginForm.value | json}}-->
<!--  </div>-->

</section>
